.graph-spacing {
    margin: 80px;
}

.graph-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: #000000;
}

.graph-container {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
    border-radius: 15px;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f8f9fa;
}

.stats-column {
    flex: 1;
}

.tab-style {
    padding: 10px;
    background-color: rgb(30, 101, 173);
    border: 1px solid #ccc;
}

.selected-tab-style {
    background-color: #411919;
    border-bottom: none;
    font-weight: bold;
}

.tabs-styles {
    height: '30px';
}